<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arena Walk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    <h1>Arena Walk</h1>
    <nav>
        <div><a href="/warrior/add-form">Rejestracja wojownika</a></div>
        <div><a href="/arena/fight-form">Stocz walkę</a></div>
        <div><a href="/hall-of-fame">Sala sław</a></div>
    </nav>


{{{body}}}

</body>
</html>