
<section class="registration">
<h2>Zarejestruj wojownika</h2>
<section class="form-warrior">

    <div>
<form action="/warrior" method="post">
    <label>
        Imię:<br>
        <input type="text" name="name" minlength="3" maxlength="50"> <br>
    </label>
    <label>
        Siła:<br>
        <input type="number" name="power" value="1" min="1" max="7"> <br>
    </label>
    <label>
        Obrona:<br>
        <input type="number" name="defence" value="1" min="1" max="7"> <br>
    </label>
    <label>
       Wytrzymałość:<br>
        <input type="number" name="hardiness" value="1" min="1" max="7"> <br>
    </label>
    <label>
        Zwinność:<br>
        <input type="number" name="agility" value="1" min="1" max="7"> <br>
    </label>
    <button type="submit">Dodaj wojownika</button>

</form>
    </div>
    <img src="../img/man-g08c129fd8_1280.png" alt="Wojownik">
</section>
</section>