<section class="fight">
    <div class="bg-fight">
        <h2>Przebieg walki</h2>
        <ol>
            {{#each log}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>
</section>