<section class="choose-warrior">
<h1>Wybierz wojowników do walki</h1>
 <section class="fight-form-window">
<form class="fight-form" action="/arena/fight" method="POST">
    <div class="warrior1"><span>{{>warrior-select select-name= "warrior1"}}</span> <img src="../img/man-gad1100450_1280.png" alt="Wojownik"> </div>
    <div class="warrior2"> <span>{{>warrior-select select-name= "warrior2"}} </span> <img src="../img/woman-gc1c558d69_1280.png" alt="Wojownik kobieta"> </div>
    <button type="submit">Rozpocznij walkę</button>
</form>
    </section>
</section>