<section class="home">
<div >
    <p>Witaj na arenie walk gdzie najwięksi śmiałkowię toczą bitwy na śmierć i życie!</p>
    <p>Wybierz z menu działu do którego chcesz się dostać.</p>
</div>
</section>