* {
    margin: 0;
    padding: 0;
}


html {
    text-align: center;
    font-family: 'Josefin Sans';
    max-width: 640px;
    margin: 0 auto;
    box-sizing: border-box;
}

html h1 {
    box-sizing: border-box;
    font-size: 40px;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
    text-transform: uppercase;
    padding: 15px;
}
nav {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-width: 640px;
    margin: 10px auto;
    flex-direction: column;
}
nav div{
    display: flex;
    justify-content: center;
    background-color:rgba(89, 109, 129,0.9);
    flex-basis: 25%;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}
nav div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav div a:hover{
    color: #651818;
    cursor: pointer;
}
.home{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../img/dry-trees.jpg");
    background-size: cover;
    height: 78vh;
}

.home div{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: stretch;
    margin: 20px auto;
}

.home div p {
    margin: 15px;
    background-color: rgba(80,80,80,0.65);
    padding: 20px;
    border-radius: 22px;
}
.registration {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../img/dry-trees.jpg");
    background-size: cover;
    height: 78vh;
    flex-direction: column;
    padding: 10px;
}
.registration h2{
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
}
.form-warrior{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
.registration .form-warrior img{
    display: flex;
    width: 30%;
    align-self: center;
}
.registration div {
    background-color: rgba(80,80,80,0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0 5px;
    border-radius: 10px;
}

.form-warrior input {
    font-size: 14px;
}
.form-warrior label{
    margin: 1px;
    padding-bottom: 1px;
}
.form-warrior label:hover{
    color: #651818;
    cursor: pointer;
}
.form-warrior button{
    font-size: 18px;
    background-color: #001745;
    color:white;
    padding: 3px;
    border: 2px black solid;
    margin: 5px;
    border-radius: 5px;
}
.warrior-added{
    box-sizing: border-box;
    background-image: url("../img/pexels-eriks-cistovs-9935715.jpg");
    background-size: cover;
    background-position: center;
    height: 78vh;
    padding: 20px;
    overflow: hidden;
}

.warrior-added h2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font-size: 22px;
    margin: 10px;
    padding: 15px;
    background-color: rgba(80,80,80,0.55);
    border-radius: 10px;
    color:white;
    flex-basis: 75%
}
.choose-warrior{
    background-image: url("../img/trees-on-a-foggy-day.jpg");
    background-size: cover;
    height: 78vh;
}
.choose-warrior h2{
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
    background-color: rgba(212,217,219,0.35);
    border-radius: 10px;
    padding-top: 10px;
}
.fight-form-window{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fight-form{
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-direction: column;
    width: 60%;
}
.warrior1, .warrior2 {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 25%;
    border: 2px solid #242323;
    margin: 20px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: rgba(212,217,219,0.25);
    border-radius: 10px;
}


.warrior1 select, .warrior2 select {
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    background: #e2dfdf;
    cursor: pointer;
    border: solid 2px black;
}

.warrior1 img, .warrior2 img{
    width: 40%;
    align-self: center;
    margin: 10px;
}

.fight-form button{
    width: 70%;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(89, 109, 129, 0.8);
    align-self: center;
    border: solid 2px black;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 700;
}

.fight{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fighting-knights.jpg");
    background-size: cover;
    background-position: center;
    height: 78vh;
}

.bg-fight{
    width: 85%;
    height: 90%;
    background: rgba(175, 162, 152,0.8);
    border-radius: 15px;
    padding: 10px;
    color: black;
}

.bg-fight h2{
    font-size: 28px;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.bg-fight ol{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.bg-fight ol li{
    padding: 3px;
    font-size: 14px;
    color: #651818;
}
.bg-fight ol li:nth-child(2n){
    padding: 3px;
    font-size: 14px;
    color: #001745;
}
.bg-fight ol li:last-child{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #5e0202;
}
.hall-of-fames{
    display: flex;
    justify-content: flex-start;
    background-image: url("../img/sword-ged6eaf5fd_1920.jpg");
    background-size: cover;
    background-position: center;
    height: 78vh;
    flex-direction: column;
    align-items: center;
}
.hall-of-fames h2{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    color:white;
}

.list-hall-of-fames{
    display: flex;
    flex-direction: column;
    background: rgba(172, 169, 167, 0.75);
    padding: 10px;
    min-height: 50%;
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
}

.list-hall-of-fames table{
    align-self: center;
}
.list-hall-of-fames thead{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;

}
.list-hall-of-fames table tbody th{
    padding: 5px 15px;
}
.error{
    border: 2px solid red;
    background-color: #d49c9c;
    padding: 20px;
    font-size: 20px;
}

@media(orientation: landscape) {
    html h1 {
        font-size: 35px;
        height: 7vh;
        line-height: 7vh;
        padding: 10px;
        margin: 5px;
    }

    nav {
        max-width: 650px;
        flex-direction: row;
    }

    nav div {
        flex-basis: 25%;
        padding: 10px;
        border-radius: 15px;
        margin-top: 5px;
    }

    nav div a {
        font-size: 16px;
    }

    .home div {
        font-size: 15px;
        margin: 8px auto;
        padding: 5px;
    }

    .home div p {
        margin: 10px;
        background-color: rgba(80, 80, 80, 0.65);
        padding: 10px;
        border-radius: 22px;
    }

    .registration {
        padding: 5px;
    }

    .registration h2 {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .form-warrior {
        margin-top: 8px;
    }

    .registration .form-warrior img {
        width: 20%;
        align-self: center;
    }

    .registration div {
        font-size: 14px;
        padding: 0 4px;
    }

    .form-warrior button {
        font-size: 16px;
    }

    .fight-form{
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 70vh;
    }

    .warrior1, .warrior2 {
        margin: 5px;
        padding: 5px;
    }

    .warrior1 select, .warrior2 select {
        padding: 5px;
        margin-top: 5px;
        font-size: 14px;
    }

    .warrior1 img, .warrior2 img {
        width: 60%;
        align-self: center;
        margin: 0;
    }

    .fight-form button {
        align-self: flex-start;
        width: 50%;
        padding: 15px;
        font-size: 14px;
        margin-top: 10px;
    }
    .bg-fight{
        height: 94%;
    }

    .bg-fight h2{
        font-size: 24px;
        margin: 2px;
        padding: 2px;
    }
    .bg-fight ol li{
        padding: 2px;
        font-size: 12px;
    }
    .bg-fight ol li:nth-child(2n){
        padding: 3px;
        font-size: 12px;
    }
    .bg-fight ol li:last-child{
        font-size: 18px;
    }

    .hall-of-fames h2{
        font-size: 24px;
        margin-top: 5px;
    }

    .list-hall-of-fames{
        padding: 2px;
        margin-top: 4px;
        margin-bottom: 5px;
    }

    .list-hall-of-fames thead{
        font-size: 15px;
    }
    .list-hall-of-fames table tbody th{
        padding: 2px 5px;
        font-size: 12px;
    }
    .error{
        border: 2px solid red;
        background-color: #d49c9c;
        padding: 20px;
        font-size: 20px;
    }
}
@media(min-width: 1025px){
    html {
        max-width: 1200px;
    }
    html h1 {
        font-size: 50px;
        padding: 15px;
    }
    nav {
        max-width: 1200px;
        margin: 15px auto;
        flex-direction: row;
    }
    nav div{
        flex-basis: 25%;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
    }
    nav div a {
        font-size: 25px;
    }

    .home div{
        font-size: 22px;
        margin: 25px auto;
        padding: 5px;
    }

    .home div p {
        margin: 20px;
        border-radius: 22px;
        padding: 20px;
    }

    .registration {
        padding: 20px;
    }
    .registration h2{
        font-size: 40px;
        margin: 15px;
    }
    .form-warrior{
        margin-top:20px;
    }

    .registration div {
        font-size: 20px;
        padding: 0 8px;
        width: 35%;
        height: 55vh;
    }
    .registration .form-warrior img{
        margin-left: 100px;
    }
    .form-warrior input {
        font-size: 22px;
        padding: 4px;
        margin: 6px;
    }
    .form-warrior label{
        margin: 5px;
        padding-bottom: 5px;
    }

    .form-warrior button{
        font-size: 24px;
        padding: 10px;
        margin: 10px;
    }

    .warrior-added h2{
        font-size: 30px;
        margin: 20px;
    }

    .choose-warrior h2{
        font-size: 40px;
    }
.fight-form{
    margin-top: 20px;
}
    .fight-form div{
        width: 45%;
    }
    .warrior1, .warrior2 {
        margin: 10px;
    }

    .warrior1 select, .warrior2 select {
        padding: 10px;
        margin-top: 10px;
        font-size: 20px;
    }

    .warrior1 img, .warrior2 img{
        width: 30%;
        margin: 5px;
    }

    .fight-form button{
        width: 60%;
        padding: 20px;
        font-size: 20px;
        border-radius: 10px;
    }

    .bg-fight{
        height: 85%;
        padding: 20px;
        color: black;
    }

    .bg-fight h2{
        font-size: 45px;
        margin: 5px;
        padding: 10px;
    }

    .bg-fight ol li{
        padding: 5px;
        font-size: 18px;
    }
    .bg-fight ol li:nth-child(2n){
        padding: 5px;
        font-size: 18px;
    }
    .bg-fight ol li:last-child{
        padding: 10px;
        font-size: 24px;
    }

    .hall-of-fames{
        display: flex;
        background-image: url("../img/sword-ged6eaf5fd_1920.jpg");
        backdrop-filter: blur(20px);
        background-size: cover;
        height: 78vh;
        justify-content: right;
        align-items: center;

    }
    .hall-of-fames{
        padding: 0 40px;
    }
    .hall-of-fames h2{
        font-size: 45px;
        padding: 10px;
        margin: 10px;
    }
    .list-hall-of-fames{
        align-self: flex-end;
        display: flex;
        padding: 10px;
        min-height: 50%;
        width: 55%;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 20px;
    }

    .list-hall-of-fames thead{
        font-size: 30px;
        font-weight: bold;
    }
    .list-hall-of-fames th{
        padding: 10px 25px;
    }

    .error{
        padding: 30px;
    }
}